.center{
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  
  border-radius: 0px;
  background: #5c9bbc;
  box-shadow:  -5px -5px 94px #428dc6,
          5px 5px 94px #0fd6c2;
  /* flex-direction: column; */
}
.rol{
  flex-direction: column;
  display: flex;
  height: 1000px;
  width: 100.px;
}
.centerd{
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  
  border-radius: 0px;
  background: #2b4a5a;
  box-shadow:  -5px -5px 94px #1a3b54,
          5px 5px 94px #054e47;
}
.main{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 35%;
 left: 35%;
 background-color: #0aa0c9;
 box-shadow: -3px -3px 40px #12588d,
 3px 3px 40px #087066;
 text-align: center;
}
.maint1{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 120%;
 left: 35%;
 background-color: #0aa0c9;
 box-shadow: -3px -3px 40px #12588d,
 3px 3px 40px #087066;
 text-align: center;
}
.maint2{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 120%;
 left: 35%;
 background-color: #0aa0c9;
 box-shadow: -3px -3px 40px #12588d,
 3px 3px 40px #087066;
 text-align: center;
}
/* .main:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */


.main2{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 55%;
 left: 35%;
 background-color: #0aa0c9;
 box-shadow: -3px -3px 40px #12588d,
 3px 3px 40px #087066;
 text-align: center;
}
/* .main2:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */
.main3{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 75%;
 left: 35%;
 background-color: #0aa0c9;
 box-shadow: -3px -3px 40px #12588d,
 3px 3px 40px #087066;
 text-align: center;
}
/* .main3:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */

.maind{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 35%;
 left: 35%;
 background-color: #054557;
 box-shadow: -3px -3px 40px #061f33,
 3px 3px 40px #032723;
 text-align: center;
}
/* .maind:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */

.maind2{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 55%;
 left: 35%;
 background-color: #054557;
 box-shadow: -3px -3px 40px #061f33,
 3px 3px 40px #032723;
 text-align: center;
}
/* .maind3:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */

.maind3{
  width: 30%;
 height: 13%;
 position: absolute;
 top: 75%;
 left: 35%;
 background-color: #054557;
 box-shadow: -3px -3px 40px #061f33,
 3px 3px 40px #032723;
 text-align: center;
}
/* .maind2:hover{
  position: absolute;
 opacity: 1;
 transform: scale(1.01);
} */
.l{
  
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #64a3d6;
  box-shadow:  -5px -5px 94px #64a3d6,
          5px 5px 94px #0fd6c2;
}
.l2{
  
  
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #6dd0cf;
  box-shadow:  -5px -5px 94px #6dd0cf,
          5px 5px 94px #0fd6c2;
}
.l2_s{
  
  
  position:static;
  height: 50vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #7cd1cf;
  box-shadow:  -5px -5px 94px #78cbca,
          5px 5px 94px #34cdbe;
}
.d2_s{
  
  
  position:static;
  height: 50vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #1c6363;
  box-shadow:  -5px -5px 94px #205150,
          5px 5px 94px #026b60;
}

.d{
  
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #2a465d;
  box-shadow:  -5px -5px 94px #31516b,
          5px 5px 94px #075c53;
}
.d_s{
  
  position:static;
  height: 50vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #2a465d;
  box-shadow:  -5px -5px 94px #31516b,
          5px 5px 94px #075c53;
}
.l_s{
  
  position:static;
  height: 50vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #64a3d6;
  box-shadow:  -5px -5px 94px #64a3d6,
          5px 5px 94px #0fd6c2;
}

.d2{
  
  
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #315e5e;
  box-shadow:  -5px -5px 94px #336362,
          5px 5px 94px #065850;
}


.l11{
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #1ec6be;
}
.l22{
  
  
  position:static;
  height: 80vh;
  padding: 20vh 15vw 0 15vw;
  background-color: #6c4607;
}
.Mt{
  text-align: center;
  color:#3c2b0c;
  font-size:150%;
}
body { font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
   /* background-color: #1a51e8; */
  }

/* .pic { position : relative ; bottom: 5px;
  left: 540px; } */

     .bn16 {
       font-family: lato,sans-serif;
       font-weight: bold;
       font-size: 1em;
       letter-spacing: 0.1em;
       text-decoration: none;
       color: #0e44d9;
       display: inline-flex;
       padding: 5px 40px 5px 40px;
       position: relative;
       border: 3px solid #10bed2;
       border-radius: 25px;
     }
     .bn17 {
       font-family: lato,sans-serif;
       font-weight: bold;
       font-size: 1em;
       letter-spacing: 0.1em;
       text-decoration: none;
       color: #0e44d9;
       display: inline-flex;
       padding: 5px 40px 5px 40px;
       position: relative;
       border: 3px solid #10bed2;
       border-radius: 25px;
     }
     #myChart { height: 500px; width: 500px; overflow: hidden; }
     .navbar {
       background-color: #428bca;
       margin-bottom: 10px;
     }
     
     .navbar .navbar-brand {
       color: #ffffff;
     }
     
     input,
     select,
     label {
       width: 70px;
       margin-right: 5px;
     }
     
     th,
     td {
       padding: 0 7px;
       text-align: right;
     }
     
     .money {
       padding-left: 1rem;
       color: #428bca;
     }
     
     tbody,
     tfoot tr:first-child {
       border-top: #428bca solid 1px;
     }
     
     .line {
       fill: none;
       stroke: #428bca;
       stroke-width: 1.5px;
     }
     
     .baseline {
       stroke-dasharray: 4, 4;
     }
     .axis {
       font: 10px sans-serif;
     }

     .axis path,
     .axis line {
       fill: none;
       stroke: #000;
       shape-rendering: crispEdges;
     }
     .App {
      text-align: center;
    }
    
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      background-image: linear-gradient(black,red);
    }
    
    .App-link {
      color: #61dafb;
    }
    
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    
    button {
      font-size: 2rem;
      width: 40%;
      padding:2rem;
    }
    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }


.share_hide
{
  animation:textt 2s ease forwards;
}

@keyframes textt 
{
  from { opacity: 1;}
  to {opacity: 0;}
}

.share_show
{
  animation:texttt 2s ease forwards;
}

@keyframes texttt 
{
  from { opacity: 0;}
  to { opacity: 1;}
}
        